@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
html {
  font-family: 'Plus Jakarta Sans', sans-serif; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-weight: 500; }

body {
  box-sizing: border-box; }

.header {
  display: flex;
  align-items: center;
  gap: 1rem; }
  .header__heading {
    font-size: 2rem;
    font-weight: 800;
    color: #1c202b; }
  .header__counter {
    height: 2.8rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a317b;
    border-radius: 1rem;
    font-size: 2rem;
    color: white; }
  .header__button {
    margin-left: auto;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: inherit;
    color: #939dae;
    cursor: pointer;
    transition: color 0.3s; }
    .header__button:hover, .header__button:active {
      color: #0a317b; }
    .header__button:focus {
      outline: none; }

body {
  padding: 2rem;
  min-height: 100vh;
  background-color: white; }

.container {
  margin: 0 auto; }
