$linear-gradient-active-input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$color-red-input-errors: hsl(0, 100%, 66%);

$color-white: hsl(0, 0%, 100%);
$color-grayish-violet: hsl(270, 3%, 87%);
$color-dark-grayish-violet: hsl(279, 6%, 55%);
$color-very-dark-violet: hsl(278, 68%, 11%);
